.plan {
  display: flex;
  flex-direction: column;
  align-items: center;

  .caroussel {
    display: flex;
    width: 100%;
    align-items: center;

    .fa-chevron-left, .fa-chevron-right {
      color : var(--light-text);
    }
  }

}
