@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/SourceSansPro-Black.ttf");
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

:root {
  --white: #F7FAFA;
  --light-text: #C2D6D7;
  --medium-text: #A5B7B8;
  --dark-text: #222222;
  --advance: #00B098;
  --input-border: #2D595E;
  --active-screen: #00BA9F;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.form-container {
  padding-top: 30px;
  background-color: #F7FAFA;
  min-height: 440px;
}